<!--
<div class="container-fluid">
<ul class="nav nav-tabs">
	<li role="presentation" class="active" style="width: 50%"><a href="#">Aulas</a></li>
  	<li role="presentation" style="width: 50%"><a href="/questions">Dúvidas</a></li>
</ul>
</br>
</div> -->

<div class="container-fluid" style="align: center">
		<h2>Minhas Aulas</h2>
</div>
