<h2>Tópicos</h2>
<div class="list-group">
  <%= render @topics %>
</div>

<h2>Dúvidas</h2>
<div>
  <p>
    <%= button_to "Nova Pergunta", new_question_path, class: "btn btn-primary" %>
  </p>  
</div>

<div class="list-group">
  <% if not @questions.nil? %>
    <%= render @questions, :questions => @questions %>
  <% end %>
</div>
