
<div class="container-fluid" align="center">
	<img src="/assets/logo.png" class="img-responsive" alt="Duvidas">
	<div class="row">
		<div class="container" align="center">
			<h4>Qual é a sua dúvida?</h4>	
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6">
	    <div class="input-group">
	      <input type="text" class="form-control">
	      <div class="input-group-btn">
	        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Escolha a aula<span class="caret"></span></button>
	        <ul class="dropdown-menu dropdown-menu-right" role="menu">
	        	<% @registrations.each do |r|%>
	          <li><a href="#"><%= r.classroom.name%></a></li>
	         	 <%end%>
	        </ul>
	      </div><!-- /btn-group -->
	    </div><!-- /input-group -->
	  </div>
	</div>
</div>
