<div>
  <%= form_for @answer, url: answers_path(@answer), html:{class: 'form-inline'} do |form| %>
    <div class="form-group">
      <div class="input-group">
        <%= form.text_area :description, class: "form-control", placeholder: "Sua Resposta" %>
      </div>
        <%= form.hidden_field :question_id, value: @question.id %>
    <button type="submit" class="btn btn-default">Enviar</button>
  <% end %>
</div>


